.courseSelectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mat-form-field {
        width: 50%;
        font-size: 20px;
        background-color: white;
        margin: 40px 0;
    }
    button {
        height: 52px;
        width: 30%;
        font-size: 20px;
    }
}