<div>
    <div class="courseSelectContainer" >
        <mat-form-field appearance="fill">
            <mat-label>Select Course</mat-label>
            <mat-select [formControl]="courseNameFC">
              <mat-option *ngFor="let courses of courses" [value]="courses.id">
                {{courses.name}}
                {{courses.id}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getCourse()">Submit</button>
    </div>
</div>

