
@use '@angular/material' as mat;


@include mat.core();
$lightgy: #FAFFD8;
$golfgreen: #057A4B;
$golfblue: #0477C4;
$oxfordblue: #001B2E;


$angular-golf-scorecard-primary: mat.define-palette(mat.$teal-palette, 800);
$angular-golf-scorecard-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$angular-golf-scorecard-warn: mat.define-palette(mat.$red-palette);

$angular-golf-scorecard-theme: mat.define-light-theme((
  color: (
    primary: $angular-golf-scorecard-primary,
    accent: $angular-golf-scorecard-accent,
    warn: $angular-golf-scorecard-warn,
  )
));

@include mat.core-color($angular-golf-scorecard-theme);
@include mat.core-theme($angular-golf-scorecard-theme);
@include mat.all-component-themes($angular-golf-scorecard-theme);


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $lightgy;
}